<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>401976947755-p9k6taulis7don58he1a5moijdo59nc5.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.401976947755-p9k6taulis7don58he1a5moijdo59nc5</string>
	<key>API_KEY</key>
	<string>AIzaSyC637lSqq4eDryITEj1fAwiqPQFgFb0uug</string>
	<key>GCM_SENDER_ID</key>
	<string>401976947755</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.TheMallApp</string>
	<key>PROJECT_ID</key>
	<string>mymall-4973e</string>
	<key>STORAGE_BUCKET</key>
	<string>mymall-4973e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:401976947755:ios:beb6e21d4e37fa4316a66e</string>
</dict>
</plist>
